.idea/
Dataset_Challenge_Dataset_Agreement.pdf
yelp_academic_dataset_business.json
yelp_academic_dataset_checkin.json
yelp_academic_dataset_photo.json
yelp_academic_dataset_tip.json
yelp_academic_dataset_user.json
Yelp_Dataset_Challenge_Round_12.pdf
__pycache__/
yelp_academic_dataset_review.json
